<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviodr de discord</title>
    <link rel="stylesheet" href="../static/css/buscardordeservidor.css">
</head>
<body>
    
        <header>
        <div class="cajabuscar"><form method="get" id="buscarform">
            <fieldset>
                <input type="text" id="s" value="" placeholder="Buscar servidor" />
                <input class="button" type="submit" />
                <i class="search"></i>
            </fieldset>
            </form>
        </div>
        </header>
        <div class="contenedor">
            <div>
                <img class="logo" src="../static/imagenes/chat.png" alt="logo" width="50">
                <p>Literatura Fatastica</p>
        
        <img class="logo" src="../static/imagenes/camara de video.png" alt="logo" width="50">

        <p>Locura Cinematografica</p>
        <img class="logo" src="../static/imagenes/Relatos de viajes.png" alt="logo" width="50">

        <p>Relatos de Viajes</p>
        <img class="logo" src="../static/imagenes/Salud y Bienestar.png" alt="logo" width="50">

        <p>Salud y Bienestar</p>
        <img class="logo" src="../static/imagenes/Central de Juegos.png" alt="logo" width="50">

        <p>Central de juegos</p>
        <img class="logo" src="../static/imagenes/Fanaticos de Deportes.png" alt="logo" width="50">  

        <p>Fanaticos del Deporte</p>
        <img class="logo" src="../static/imagenes/Caos Musical.png" alt="logo" width="50">

        <p>Caos Musical</p>
        
            </div>
        </div>
        
        <section>
            <button>Añadir Servidor</button><br><br>
            <button>Explorar servidores</button>
            
        </section>

        <h4>Gonza480</h4>
</body>
</html>