<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/canalesdeservidores.css">
    <title>Servidor de discord-</title>
</head>
<body>
    <section>
    <button>Literatura Fantastica</button>
    <button>Programacion Web</button>
    <button>Añadir Servidor</button>
    <button>Explorar servidores</button>
    
    </section>
    <section>
        <button>#Club de lectura</button>
        <button>#Escritores emergencia</button>
        <button>#Recomendaciones</button>
        <h5></h5>
        <button>Añadir canal</button>
        
    </section>
    <img class = "logo" src="../imagenes/discord-logo-1-1.png" alt="" height="50">
        <h4>Gonza480</h4>
        
</body>
</html>