<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/canalesdeservidores.css">
    <title>Servidor de discord-</title>
</head>
<body>
    <div id="main_row">
        <div id="servers-list">
            <button class="server">Server Prueba</button>
            <button class="server">Informatica</button>
            <button id="add_server" class="servers_options">Añadir Servidor</button>
            <button id="explore_servers" class="servers_options">Explorar servidores</button>
            <h4>Gonza480</h4>
        </div>
        <div id="channels-list">
            <button id="add_channel" >Añadir canal</button>
        </div>
    </div>
    <script type="module" src="../static/js/servers.js"></script>
</body>
</html>