<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio - Discord App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="../static/imagenes/logo.png" alt="logo" />
        <h1>Discord App</h1>
      </div>
    </header>

    <section class="presentacion">
      <h2>Bienvenido!</h2>
      <br /><br /><br /><br /><br />
      <p>Conéctate con amigos y comunícate de forma rápida y sencilla.</p>
      <br />
      <a class="button2" href="http://127.0.0.1:5000/logren">Iniciar Sesion</a>
      <a class="button2" href="http://127.0.0.1:5000/formulario">
        Registrate
      </a>
    </section>

    <footer>
      <div>
        <img
          src="../static/imagenes/linkedin.png"
          alt="link"
          height="38"
          width="38"
          hspace="10"
        /><img
          src="../static/imagenes/facebook.png"
          alt="face"
          height="38"
          width="38"
          hspace="10"
        /><img
          src="../static/imagenes/gorjeo.png"
          alt="tw"
          height="38"
          width="38"
          hspace="10"
        /><img
          src="../static/imagenes/instagram.png"
          alt="inst"
          height="38"
          width="38"
          hspace="10"
        /><img
          src="../static/imagenes/tinder.png"
          alt="tin"
          height="38"
          width="38"
          hspace="10"
        /><img
          src="../static/imagenes/email.png"
          alt="tin"
          height="38"
          width="38"
          hspace="10"
        />
      </div>
      <br />
      <p>&copy; 2023 Discord APP - UPATECO - Grupo 5</p>
    </footer>
  </body>
</html>
