<!DOCTYPE html>
<html>
<head>
  <title>Inicio - Discord App </title>
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
  <header>
      <div class="logo">
        <img src="../static/imagenes/logo.png">
      <h1>Discord App </h1>
      </div>
  </header>

  <section class="presentacion">
    <h2>Bienvenido!</h2><br><br><br><br><br>
    <p>Conéctate con amigos y comunícate de forma rápida y sencilla.</p><br> 
    <a href="signin.html">Iniciar Sesion</a>
    <a href="signup.html">  Registrate  </a>
  </section>
    
  <footer>
    <p>&copy; 2023 Mi APP Discord - UPATECO - Grupo 5</p>
  </footer>
</body>
</html>