<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
  </head>
  <body>
    <div id="message">
      <h1>Perfil de Usuario</h1>
      <div >
        Usuario: {{cuenta[0]}}<br/><br/>
        Nombre: {{cuenta[1]}}<br/><br/>
        Apellido: {{cuenta[2]}}<br/><br/>
        Email: {{cuenta[3]}}<br/><br/>
        Fecha de Nacimiento: {{cuenta[5]}}
      </div>
    </div>


  </body>
</html>
