<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro</title>
    <link rel="stylesheet" href="../static/css/signin.css">    

</head>
<body>
    <section class="form-registro">
        <h4>Formulario Registro</h4>
        <input class="controles" type="email" name="correo" id="email" placeholder="Email">
        <input class="controles" type="text" name="nombres" id="usuario" placeholder="Usuario">
        <input class="controles" type="text" name="nombres" id="nombres" placeholder="Nombre">
        <input class="controles" type="text" name="nombres" id="nombres" placeholder="Apellido">
        <input class="controles" type="password" name="correo" id="contraseña" placeholder="Contraseña">
        <input class="controles" type="text" name="nombres" id="fecha_de_nac" placeholder="Fecha de Nacimiento">
        
        <form>
            <label>fecha</label>
            <select>
                <option>dia</option>
            </select>
            <select>
                <option>mes</option>
            </select>
            <select>
                <option>año</option>
            </select>

        </form>

        <input class="boton" type="submit" value="Aceptar">
        <p><a href="signin.html">¿Ya tienes una cuenta?</a></p>

    </section>
    
</body>
</html>