<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="../static/css/signin.css">
      
</head>
<body>
    <section class="form-registro">
        <h4>Iniciar Sesion</h4>
        <input type="text" name="email" id="nombres" placeholder="Email">
        <input type="text" name="password" id="nombres" placeholder="Contraseña">
       
        <input class="boton" type="submit" value="Aceptar">
        <p><a href="signin.html">¿No tienes una cuenta?</a></p>
    </section>
    
</body>
</html>