<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviodr de discord</title>
    <link rel="stylesheet" href="../static/css/unirserver.css">
</head>
<body>
    <div class="container">
        
            <h1>Aún no te has unido a un servidor 
            intenta buscar uno o crea uno propio</h1>
        
        <main>
            
            <div class="server-section">
                
                <button>Añadir un Servidor</button>
            </div>

            <div class="explore-section">
                
                <a href="buscardordeservidor.html"><button>Explorar Servidores</button></a>
            </div>
            
             <div class="usuario">
                <img class = "logo" src="../imagenes/discord-logo-1-1.png" alt="" height="50">
                <h4>Gonza480</h4>
             </div>   
            
        </main>
        
    </div>
</body>
</html>
