html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main_row {
    background-color: rgb(63, 63, 63);
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 200px 200px 100%;
}

#servers-list {
    display: block;
    background-color: rgb(46, 46, 46);
    padding-left: 25px;
}

#channels-list {
    display: block;
    background-color: rgb(54, 54, 54);
    padding-left: 6px;
}

.server {
    height: 60px;
    width: 155px;
    position: center;
    padding: 10px 15px;
    margin: 5px 0px;
    background: white;
    color: black;
    border-radius: 100px;
    justify-content: center;
}

.channel {
    height: 30px;
    width: 185px;
    font: 16px "Fira Sans";
    color: aliceblue;
    background: none;
    border: none;
}

#add_server {
    margin-top: 25px;
}

#add_channel {
    position: absolute;
    bottom: 20px;
    left: 250px;
}

button:hover { 
    background-color: #b1b1b1;
    cursor: pointer;
}
